push-notification/*
!push-notification/Packages/
push-notification/Packages/*
!push-notification/Packages/com.akiojin.unity.push-notification/
!push-notification/Packages/com.akiojin.unity.push-notification/**
