UnityPushNotification/*
!UnityPushNotification/Packages/
UnityPushNotification/Packages/*
!UnityPushNotification/Packages/com.akiojin.unity-push-notification/
!UnityPushNotification/Packages/com.akiojin.unity-push-notification/**
